name: Formatting Check and PR

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:

  checks:
    name: Check expressions
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Nix
        uses: cachix/install-nix-action@v24
        with:
          install_url: https://nixos.org/nix/install
          extra_nix_config: |
            auto-optimise-store = true
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
            experimental-features = nix-command flakes
      - name: Fetch latest changes
        run: git pull origin main
      - name: Configure Git
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
      - name: Create a new branch
        run: |
          git checkout -b formatting-update
      - name: Run formatting check
        run: nix run nixpkgs#alejandra -- .
      - name: Commit changes
        run: git commit -am "Formatting Update"
      - name: Push changes to the new branch
        run: git push origin formatting-update

  create_pr:
    name: Create Pull Request
    runs-on: ubuntu-latest
    needs: checks
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install GitHub CLI
        run: |
          sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-key C99B11DEB97541F0
          sudo apt-add-repository https://cli.github.com/packages
          sudo apt-get update
          sudo apt-get install gh
      - name: Create Pull Request
        run: |
          gh auth login --with-token <<< "${{ secrets.GITHUB_TOKEN }}"
          gh pr create --base main --head formatting-update --title "Formatting Update" --body "This PR formats the files in the repository."
